/* Переменные */
:root {
  --white: #fff;
  --fon: #673384;
  --button: #E09303;
  --ramka: #A890B0;
  --text: #F0E8E6;
  --fon-cart: #2B1F1A;
  --beh-text: #897B6B;
  --shadow: #0a07063b;
  --late: #DEC019;
  --present: #53D75B;
  --no-show: #C83C34;
  --plague: #568A53;
  --input: #150F0D;

  
  
  --font-family-geologica: geologica, arial, sans-serif;
}
@font-face {
  font-family: geologica;
  src: url('./assets/fonts/Geologica.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* Базовый сброс стилей */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 12px; 
}
*::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 12px;
  cursor: pointer;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--beh-text);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
body {
  line-height: 1;
  font-family: var(--font-family-geologica);
  background-color: var(--secondary-background);
  color: var(--text-black);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  outline: none;
  border: none;
  &:focus-visible {
      outline: none;
  }
}
svg {
  flex-shrink: 0;
}
input,
textarea,
select {
  font: inherit;
  outline: none;
}
input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}
input[type='search']::-webkit-search-decoration {
  appearance: none;
}
input[type='search']::-moz-search-cancel-button {
  appearance: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1 {
  /*28px-36px*/
  font-size: clamp(1.75rem, 1.6286rem + 0.5178vw, 2.25rem);
  line-height: normal;
  font-weight: 500;
}
h2 {
  /*22px-26px*/
  font-size: clamp(1.375rem, 1.3143rem + 0.2589vw, 1.625rem);
  /*26px-30px*/
  line-height: clamp(1.625rem, 1.5643rem + 0.2589vw, 1.875rem);
  font-weight: 600;
}
h3 {
  /*18px-20px*/
  font-size: clamp(1.125rem, 1.0947rem + 0.1294vw, 1.25rem);
  /*22px-24px*/
  line-height: clamp(1.375rem, 1.3447rem + 0.1294vw, 1.5rem);
  font-weight: 500;
}
.text-normal {
  font-size: 48px;
  line-height: normal;
  font-weight: 400;
}
.text-comment-title {
  font-size: 24px;
  line-height: normal;
  font-weight: 400;
}
.text-filled {
  font-size: 40px;
  line-height: normal;
  font-weight: 400;
}
.text-head {
  font-size: 96px;
  line-height: normal;
  font-weight: 900;
}
